<!-- Footer -->
<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="https://instagram.com/sophski5/">
        Follow Sophia @sophski5
      </a>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/1.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/2.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/3.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/4.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/5.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/6.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/7.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/8.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
	
	
	
	
	<div class="container">

      <ul class="nav justify-content-center">  
        <li class="nav-item">
          <a class="nav-link" href="page-about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Advertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Contact</a>
        </li>
      </ul>
      <div class="copy">
        &copy; Sophia Marseilles and Wilson Rawlings 2019<br />
        All rights reserved
      </div>
    </div>
  </footer>


