<!-- Footer -->
<footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">

      <ul class="nav justify-content-center">  
        <li class="nav-item">
          <a class="nav-link" href="page-about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Advertise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-contact.html">Contact</a>
        </li>
      </ul>
      <div class="copy">
        &copy; Sophia Marseilles and Wilson Rawlings 2019<br />
        All rights reserved
      </div>
    </div>
  </footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
