<head>

    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta name="description" content="">
  	<meta name="Sophia Marseilles and Wilson Rawlings" content="">
	<link rel="icon" type="image/ico" href="http://sightsandsoph.com/favicon.ico" />
	<meta property="og:title" content="Sights and Soph" />
	<meta property="og:image" content="http://www.sightsandsoph.com/img/post/01-dunes/12.jpg" />
	<meta name="p:domain_verify" content="ce4d5927bd4c8a17fcf74ef66e68ee08"/>

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    

  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121180761-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121180761-1');
</script>


  <link href="../css/milo.css" rel="stylesheet">
</head>
