<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {{ content 
	
	<aside class="sidebar sidebar-sticky">
		<div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">My Favorites!</h4>

                <a href="docs/post/post-01-dunes.html" class="d-inline-block">
                  <h4 class="h6">Ski the Dunes</h4>
                  <img class="card-img" src="img/post/01-dunes/12.jpg" alt="" width="100%"/>
                </a>
				  
				<a href="docs/post/post-15-alabama-hills.html" class="d-inline-block">
                  <h4 class="h6">California’s Alabama Hills</h4>
                  <img class="card-img" src="img/post/15-alabama-hills/head.jpg" alt="" width="100%"/>
                </a>
				  
				  <a href="docs/post/post-04-moab.html" class="d-inline-block">
                  <h4 class="h6">Desert for Days</h4>

                  <img class="card-img" src="img/post/04-moab/head.jpg" alt="" width="100%"/>
                </a>
				  

                

              </div>
            </div><!-- /.card -->
          </aside>
	
	}}
	
	
	
	
	

    {% include footer.html %}


</body>

</html>
