<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {{ content }}
	
	<aside class="sidebar sidebar-sticky">
		<div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">My Favorites!</h4>

                <a href="docs/post/post-01-dunes.html" class="d-inline-block">
                  <h4 class="h6">Ski the Dunes</h4>
                  <img class="card-img" src="img/post/01-dunes/12.jpg" alt="" width="100%"/>
                </a>
				  
				<a href="docs/post/post-15-alabama-hills.html" class="d-inline-block">
                  <h4 class="h6">California’s Alabama Hills</h4>
                  <img class="card-img" src="img/post/15-alabama-hills/head.jpg" alt="" width="100%"/>
                </a>
				  
				  <a href="docs/post/post-04-moab.html" class="d-inline-block">
                  <h4 class="h6">Desert for Days</h4>

                  <img class="card-img" src="img/post/04-moab/head.jpg" alt="" width="100%"/>
                </a>
				  

                

              </div>
            </div><!-- /.card -->
          </aside>
	
	
	<div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="https://instagram.com/sophski5/">
        Follow Sophia @sophski5
      </a>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/1.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/2.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/3.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/4.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/5.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/6.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/7.png" alt="" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="https://instagram.com/sophski5/">
              <img class="img-fluid" src="img/instagram/8.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% include footer.html %}


</body>

</html>
